/* mn3 css */
@import url('https://fonts.googleapis.com/css2?family=Anaheim&family=Bungee&family=Bungee+Hairline&family=Bungee+Outline&family=Bungee+Shade&family=Expletus+Sans:wght@700&family=Josefin+Sans:wght@100&family=Jost&family=Keania+One&family=Libre+Barcode+39+Text&family=Major+Mono+Display&family=Roboto+Slab:wght@900&display=swap');


.bordered-text{
    display:block;
    background-color: rgb(134, 134, 134);
    line-height: auto;
    border: #353535 2px solid;
    width:35vw;
    text-align: right;
}
.shadow-a{
    height: 10px;
    border: 0;
    box-shadow: 5px 10px 8px #888888;
}
#MN3-image{
    top:9vw; 
    width:30vw;
}
#MEGA-text{
    
    overflow-y: 4vw;
    font-family: 'Bungee Shade', monospace;
    font-size: 9vw;
    line-height: 0.9;
    
}
#neighbour-text{
    font-family: 'Bungee', cursive;
    font-size: 4.6vw;
    line-height: 1;
}

